<div class="container">
  <label class="mt-4 mb-4 lead lead-font-size bg-secondary text-light">投稿一覧</label>
  <div class="row">
    <table class="table border">
      <thead>
        <tr class="table-primary">
          <th>投稿日時</th>
          <th>投稿名</th>
          <th>投稿者</th>
          <th>コメント数</th>
        </tr>
      </thead>
      <tbody>
      <% @search_posts.each do |post| %>
        <tr>
          <td>
            <%= link_to post_path(post.id), 'data-turbolinks': false do %>
            <%= l post.created_at %>
            <% end %>
          </td>
          <td><%= post.post_name %></td>
          <td><%= post.user.name %></td>
          <td><%= "#{post.post_comments.count}件" %></td>
        </tr>
      <% end %>
      </tbody>
    </table>
    <%= paginate @posts %>
  </div>
</div>