<div class="container">
  <label class="mt-4 mb-4 lead lead-font-size bg-secondary text-light">投稿一覧画面</label>
  <div class="row">
    <label class="mb-2">
    <%= link_to admin_posts_path,class: "btn btn-primary" do %>
      事業化候補一覧へ
    <% end %>
    </label>
    <table class="table border">
      <thead>
        <tr class="table-primary">
          <th>投稿日時</th>
          <th>投稿名</th>
          <th>投稿者</th>
          <th>事業化ステータス</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <% @search_posts.each do |post| %>
        <tr>
          <td>
            <%= link_to admin_post_path(post.id), 'data-turbolinks': false do %>
            <%= l post.created_at %>
            <% end %>
          </td>
          <td><%= post.post_name %></td>
          <td><%= post.user.name %></td>
          <td>
            <% if post.is_active == true %>
              <label class="text-danger">事業化候補</label>
            <% else %>
              保留
            <% end %>
          </td>
          <td>
            <%= link_to admin_post_path(@post.id),class: "btn btn-danger",method: :delete, "data-confirm" => "本当に削除しますか？" do %>
              投稿を削除
            <% end %>
          </td>
        </tr>
        <% end %>
      </tbody>
    </table>
    <%= paginate @posts %>
  </div>
</div>