<div class="container">
  <label class="mt-4 mb-4 lead lead-font-size bg-secondary text-light">会員一覧画面</label>
  <div class="row">
    <table class="table border">
      <thead>
        <tr class="table-primary">
          <th>会員ＩＤ</th>
          <th>氏名</th>
          <th>メールアドレス</th>
          <th>ステータス</th>
          <th></th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <% @users.each do |user| %>
        <tr>
          <td><%= user.id %></td>
          <td><%= user.name %></td>
          <td><%= user.email %></td>
          <td>
            <% if user.is_deleted == true %>
              <label class="text-danger">退会</label>
            <% else %>
              有効
            <% end %>
          </td>
          <td>
            <%= link_to edit_admin_user_path(user.id),class: "btn btn-success" do %>
              編集する
            <% end %>
          </td>
          <td>
            <%= link_to list_admin_post_path(user.id),class: "btn btn-primary" do %>
              投稿を見る
            <% end %>
          </td>
        </tr>
        <% end %>
      </tbody>
    </table>
    <%= paginate @users %>
  </div>
</div>